body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-header {
font-family: karla;
font-weight: medium;
font-size: 18pt;
display: flex;
align-items: center;
justify-content: space-evenly;
margin: 15px;
flex-wrap: wrap;
}

.nav-logo {
max-height: 50px;
justify-content: space-around;
flex: flex-start;

}

.main-nav ul {
flex: 2;
list-style: none;
margin: 0;
padding: 0;
display: flex;
flex: flex-end;
}

.main-nav li {
margin-left: 8px;
}

.main-nav a {
text-decoration: none;
color: rgb(0, 0, 0);
padding: 4px;
}

.nav-footer {
  background-color: rgb(245, 245, 245);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-footer li {
  list-style: none;
  align-items: baseline;
  justify-content: flex-start;
}

