body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  gap: 20px;
  flex-direction: column;
}

.nav-header {
  font-family: karla;
  font-weight: medium;
  font-size: 18pt;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: 2px solid black;
  gap: 20px;
  flex-shrink: 0;
}

.nav-logo {
  max-height: 50px;
  flex: flex-start;
  border-radius: 0;
  margin-right: auto;
  justify-content: center;
}

.main-nav ul {
  flex: 2;
  list-style: none;
  padding: 0;
  display: flex;
  flex: flex-end;
}

.main-nav li a {
  margin-left: 8px;
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  font-size: 24px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: black;
}

@media (max-width: 768px) {
  .main-nav {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .main-nav.active {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure full width */
  }

  .hamburger {
    display: flex;
  }
}

.nav-footer {
  background-color: rgb(237, 239, 238);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ftnav-logo {
  align-self: center;
  margin-right: 20px;
  border-radius: 0;
  max-height: 150px;
}

.nav-footer ul {
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  margin-left: 25px;
}

.footer-nav, .contact-nav, .social-media-nav {
}

h1, h2, h3, h4, h5, h6 {
  font-family: "markazi text";
  margin: 0;
}

p, span {
  font-family: "karla", sans-serif;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
}

h2 {
  font-size: 28px;
  line-height: 1.3;
}

h3 {
  font-size: 24px;
  line-height: 1.4;
}

h4 {
  font-size: 20px;
  line-height: 1.5;
}

h5 {
  font-size: 18px;
  line-height: 1.6;
}

h6 {
  font-size: 16px;
  line-height: 1.7;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

span {
  font-size: 14px;
  line-height: 1.5;
}

footer a {
  text-decoration: none;
  color: rgb(73, 94, 87);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
}

footer li {
  color: rgb(73, 94, 87);
  font-size: 16pt;
  font-weight: medium;
}

#doormat, #contact, #social {
  font-size: 18pt;
}
